In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
data=pd.read_csv("used_car_dataset.csv")
data

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,23,"98,000 km",Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...","₹ 1,95,000"
1,Toyota,Innova,2009,15,190000.0 km,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...","₹ 3,75,000"
2,Volkswagen,VentoTest,2010,14,"77,246 km",Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...","₹ 1,84,999"
3,Maruti Suzuki,Swift,2017,7,"83,500 km",Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,"₹ 5,65,000"
4,Maruti Suzuki,Baleno,2019,5,"45,000 km",Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol","₹ 6,85,000"
...,...,...,...,...,...,...,...,...,...,...,...
9577,Skoda,Octavia,2014,10,"105,904 km",Automatic,second,Diesel,Oct-24,"Skoda Octavia 1.9 Elegance TDI, 2014, Diesel","₹ 10,40,000"
9578,Maruti Suzuki,Alto-800,2020,4,"55,000 km",Manual,first,Hybrid/CNG,Nov-24,"Maruti Suzuki Alto 800 CNG LXI Optional, 2020,...","₹ 3,75,000"
9579,Maruti Suzuki,Ritz,2013,11,"92,000 km",Manual,first,Diesel,Nov-24,"Maruti Suzuki Ritz VDi, 2013, Diesel","₹ 4,15,000"
9580,Hyundai,Verna,2019,5,"72,000 km",Automatic,first,Petrol,Oct-24,"Hyundai Verna VTVT 1.6 AT SX Option, 2019, Petrol","₹ 8,55,000"
9581,Hyundai,New i20,2021,3,"83,228 km",Manual,second,Petrol,Nov-24,"Hyundai New i20 1.2 Asta IVT, 2021, Petrol","₹ 6,99,000"

In [57]:
data.AskPrice=data.AskPrice.str.replace("₹",'')
data.AskPrice=data.AskPrice.str.replace(",",'')
data.AskPrice=data.AskPrice.astype('int')

AttributeError: Can only use .str accessor with string values!

In [ ]:
data.AskPrice

In [47]:
d={"a1":[1,2,1,2,1,2,1,2,1],"a2":[9,8,7,6,5,4,3,2,1]}
d=pd.DataFrame(d)
d.groupby("a1").mean()

     a2
a1
1   5.0
2   5.0

import pandas as pd

# Load the dataset
data = data

# Number of car models sold
num_models_sold = data['model'].nunique()
# print(f"Number of car models sold: {num_rmodels_sold}")

# Total cars sold
total_cars_sold = data.shape[0]
# print(f"Total cars sold: {total_cars_sold}")

# Average price of each model
avg_price_per_model = data.groupby('model')['AskPrice'].sum()
# print("Average price of each model:")
avg_price_per_model

In [75]:
data.loc[:,['Brand','model','AskPrice']].groupby('model')['AskPrice'].sum()

model
 Wagon R                  465000
1 Series                  975000
1000                      790000
2 Series                11055000
2.8 Legender 4X2        80560999
                          ...
i20 Active               8167998
i20 N Line               1965000
maruti-suzuki-brezza     9516000
maruti-suzuki-dzire     19771111
tata-punch               2909999
Name: AskPrice, Length: 400, dtype: int32

In [84]:
data[data.model=="1 Series"]

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
1986,BMW,1 Series,2013,11,"120,000 km",Automatic,second,Diesel,Nov-24,"BMW 1 Series 2.0 118D Sport Line, 2013, Diesel",975000

In [83]:
data.loc[["1 Series"],['Brand','model','AskPrice']]

KeyError: "None of [Index(['1 Series'], dtype='object')] are in the [index]"

In [13]:
(data[data['FuelType']=="Petrol"])["model"].drop_duplicates()

0                      City
4                    Baleno
8       maruti-suzuki-dzire
9                  Ecosport
10                 Alto-K10
               ...
8954             Free Style
9116                Elevate
9230                   Ikon
9241                    AMG
9549           Gran Turismo
Name: model, Length: 291, dtype: object

In [9]:
len(data.model)

9582